<!DOCTYPE html>
<html lang="en" class="dark">
    <head>
        <%- include('partials/head') %>
    </head>
    <body class="overflow-x-hidden bg-[#050505] text-[#e5e7eb] antialiased">
        
        <%- include('partials/navbar') %>

        <%- include('partials/hero') %>

        <%- include('partials/courses') %>

        <%- include('partials/about') %>

        <%- include('partials/footer') %>

        <!-- Chatbot Button -->
        <%- include('partials/chatbot') %>

        <!-- Course Details Modal -->
        <%- include('partials/course_details_modal') %>

        <script src="/static/js/chatbot.js"></script>
    </body>
</html>
