<!DOCTYPE html>
<html lang="en" class="scroll-smooth" id="top">
    <head>
        <%- include('partials/head') %>
    </head>
    <body class="overflow-x-hidden antialiased">
        
        <%- include('partials/navbar') %>

        <%- include('partials/hero') %>

        <%- include('partials/introduction') %>

        <%- include('partials/courses') %>

        <%- include('partials/about') %>

        <%- include('partials/footer') %>

        <!-- Chatbot Button -->
        <%- include('partials/chatbot') %>

        <!-- Prospectus Overlay -->
        <%- include('partials/prospectus_overlay') %>

        <!-- Course Details Modal -->
        <%- include('partials/course_details_modal') %>


        <script src="/static/js/prospectus.js"></script>
        <script src="/static/js/animations.js"></script>
    </body>
</html>
